@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Goudy+Bookletter+1911&family=Poor+Story&family=Rochester&family=UnifrakturMaguntia&display=swap'); /* This imports the google fonts I have used */

body {
    user-select: none;
    background: url('top.png') fixed;
    background-size: fill;
}

.box {
    border: #FDFCD3 solid;
    background: rgba(0, 0, 0, 0.603);
    color: #FDFCD3;
    padding: 1em 1em 1em 1em;
    font-size: 5vw;
    text-align: center;
    font-family: 'Goudy Bookletter 1911', serif;
}

.box2 {
    text-align: justify;
    text-indent: 1.5em;
    line-height: 1.4em;
    font-family: 'EB Garamond', serif;
}

.box2::first-letter {
    font-size: 2em;
}

a {
    flex: 1;
    border: #FDFCD3 solid;
    background: #fdfcd34f;
    color: inherit;
    text-decoration: none;
}

h3 {
    font-family: 'UnifrakturMaguntia', cursive;
    font-size: 2em;
    color: #FDFCD3;
    border-bottom: dashed;
    padding-bottom: 0.3em;;
}